<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW4E0btK7uZ-s0A5czEcIgdZP0piq4cPE</string>
	<key>GCM_SENDER_ID</key>
	<string>154350716305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.najmSuhail</string>
	<key>PROJECT_ID</key>
	<string>najms-567a6</string>
	<key>STORAGE_BUCKET</key>
	<string>najms-567a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154350716305:ios:b86b8fd1d6ae4783e88630</string>
</dict>
</plist>